<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <BasicHttpBinding>
                <binding name="BasicHttpBinding_IDBProviderService" />
                <binding name="BasicHttpBinding_IDemoProductService" />
            </BasicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8097/BusinessDBProviderService.svc" binding="BasicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBProviderService" contract="WCFBusinessDBProviderService.IDBProviderService" name="BasicHttpBinding_IDBProviderService" />
            <endpoint address="http://localhost:8097/DemoProductService.svc" binding="BasicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemoProductService" contract="WCFDemoProductService.IDemoProductService" name="BasicHttpBinding_IDemoProductService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>